.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  margin-bottom: 5px;
  list-style-type: none;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  margin-bottom: 5px;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.card-heading {
  font-family: 'Roboto';
  font-size: 25px;
  color: #326a9d;
  font-weight: bold;
}
.card-description {
  font-family: 'Roboto';
  font-size: 20px;
  color: #64748b;
}
.button {
  height: 30px;
  width: 80px;
  font-size: 12px;
  border: solid 2px #326a9d;
  color: #326a9d;
}
